/* ========================================
Stylesheet for Professional Portfolio - Challenge #2
Author: Alexis Brownstein - alexis@drdatabase.com
Created: 8/22/22
Last modified: 
8/24/22 7:45pm by Alexis Brownstein

******************
##TODO Color Palette  
#d9dcd6 - light gray
#ffffff - dark gray
#2a607c - blue with gray tint
#2589bd - bright blue
========================================== */
/* SITEWIDE STYLES */

/* Override default style and set padding and margin to nothing */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

/* Make all link text aqua with underline */
a {
  color: aqua;
  text-decoration: underline;
}

header {
 /* color: darkblue; */
  background-color: darkblue;
  display: flex; /* creates flexbox */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

/* Black text throughout */
body {
  font-family: "lato", sans-serif;
  color: black;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
  display: inline;  /*added with Anthony*/
  background-color: aqua;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}

/* All images must not be larger than parent container */
img {
  width: 100%;
}

/* No styling on list items yet */
li {
  list-style-type: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

nav {
  /*background-color: darkblue; */
  color: white;

}

nav ul{
  display: flex;

}

/* Changes the color of both links to aqua, adds padding between them and margin as well */

nav a {
  color: aqua;
  padding: 9px;
  margin: 0 10px;
}

nav a:hover {
  color: yellow;
  border-bottom: 2px solid #9867C5;
}

/* .flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
} */

section {
border-color: blue;
border-width: 2;
}

/* section div {
  background-color: #f1f1f1; 
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* HEADER STYLES */

 .flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: blue;
  border: 3px solid red;
  height: 35vh;
}

.flex-container div {
  background-color: #f1f1f1;
  border: 3px solid green;
  width: 30%;
  /*margin: 10px;*/
  /* text-align: center; */
  line-height: 75px;
  font-size: 30px;
  position: relative;
}

/*child to flex-container*/
#about-me-img {
  width: 100%;
  position:absolute;
  z-index: 1;  /*zindex is lower so it's behind child*/
}

.flex-container h1{
 left: 20px;
 position: absolute;
 z-index: 2; /*stack on top of parent*/
}
 


/* MAIN BODY CONTENT */
  
  /* FOOTER SECTION */