/* ========================================
Stylesheet for Professional Portfolio - Challenge #2
Author: Alexis Brownstein - alexis@drdatabase.com
Created: 8/22/22
Last modified: 
8/24/22 7:45pm by Alexis Brownstein
========================================== */
/* SITEWIDE STYLES */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #3474e6;
  color: #fff;
  height: 60px;
}

.navbar a {
  color: aqua;
  text-decoration: underline;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: yellow;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}


header {
  background-color: darkblue;
  display: flex; /* creates flexbox */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}


h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
  display: inline;  /*added with Anthony*/
  background-color: aqua;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}



/* No styling on list items yet */
li {
  list-style-type: none;
}

p {
  font-size: 15px;
  margin: 10px 0;
}




/* HEADER STYLES */

.flex-container-top-img {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightyellow;
  /* border: 3px solid red;  for debugging */
  height: 35vh;
  align-items:baseline;
}

.flex-container-top-img  div {
  background-color: white;
  /* border: 3px solid purple;  */
  width: 100%;
  /*margin: 10px;*/
  /* text-align: center; */
  line-height: 75px;
  font-size: 30px;
  /* position: relative; */
}

.flex-container-top-img h2{
  right:50%;
  position: absolute;
  z-index: 2; /*image h2 has higher zindex it's in front */
  display: inline;  /*added with Anthony*/
  background-color: aqua;
 }

 
#top-image {
 width: 25%;
} 

/*child to flex-container*/
#top-img {
  height: 50%;
  width: 50%;
  position:absolute;
  z-index: 1;  /*zindex is lower so it's behind other child - want h2 in front*/
  margin: auto;
  /* width: auto; */
}

 .flex-container1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightyellow;
  border: 3px solid red;  
  height: 35vh;
}

.flex-container1  div {
  background-color: white;
  border: 3px solid purple; 
  width: 10%;
  /*margin: 10px;*/
  /* text-align: center; */
  line-height: 75px;
  font-size: 30px;
  position: relative;
  /* width: auto; */
}

.flex-container2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightyellow;
  /* border: 3px solid red;   */
  height: 50vh;
}

.flex-container2  div {
  background-color: white;
  /* border: 3px solid purple;  */
  width: 10%;
  /*margin: 10px;*/
  /* text-align: center; */
  line-height: 75px;
  font-size: 30px;
  position: relative;
}

.flex-container3 {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightyellow;
  /* border: 3px solid red;   */
  height: 8vh;
}

.flex-container3  div {
  background-color: white;
  /* border: 3px solid purple;  */
  width: 10%;
  /*margin: 10px;*/
  /* text-align: center; */
  line-height: 75px;
  font-size: 30px;
  position: relative;
}

#about-me-title {
  width: 10%;
} 

#about-me-content {
  width: 90%;
  justify-content: left;
  line-height: normal;
  /* font-size: 16px; */
  font-family:"Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
} 

.flex-container1 h2{
  right: 25px;
  position: absolute;
  z-index: 2; /*stack on top of other child*/
  display: inline;  /*added with Anthony - show all on the same row*/
  background-color: aqua;
 }

 .flex-container2 h2{
  right: 25px;
  position: absolute;
  z-index: 2; /*stack on top of other child*/
  display: inline;  /*added with Anthony*/
  background-color: aqua;
 }

 .flex-container3 h2{
  right: 25px;
  position: absolute;
  z-index: 2; /*stack on top of other child*/
  display: inline;  /*added with Anthony*/
  background-color: aqua;
 }

/* MAIN BODY CONTENT */
  
  /* FOOTER SECTION */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}