/* ========================================
Stylesheet for Professional Portfolio - Challenge #2
Author: Alexis Brownstein - alexis@drdatabase.com
Created: 8/22/22
Last modified: 
9/26/22 9am by Alexis Brownstein
========================================== */

/* SITEWIDE STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

a {
  color: black;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
  width:200px; 
}

ul {
  list-style-type: none;
}

/* NAV AND HEADER STYLES */
nav {
  background: #3474e6;
  color: #fff;
  height: 60px;
  font-size: x-large;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 100%;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

header {
  background-color: rgb(234, 240, 243);
  display: flex; /* creates flexbox */
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 11.5pt;
  align-items: center;
}

header p {
  width: 100%;
  color:  black;
 }

header img{
 width: 100%;
 }

.desert {
position: relative;
align-items: center;
}

.desert, .aboutme, .worldlhello {
 width: 33%;
 height: 52vh;
 color:  black;
 font-size: 11.5pt;
}

.aboutme, main, .contactme h1{
  color: black;
  text-align: center;
  background-color:rgb(234, 240, 243);
}

.aboutme {
  border:.5px solid blue;
  margin-top: .5%;
  text-align: center;
}

.worldhello img {
width: 100%; /*relative to parent so always 100%*/
height: 40vh;
margin-top: 8%;
}

.desert img {
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  /* position: absolute; takes off page - not needed here*/
  z-index: 1;
}

.desert h1{
  position: absolute; /*takes off page and z-index says which on top*/
  z-index: 2;
  color: black;
  margin-top: 2%;
  margin-left: 2%;
}

/* MAIN BODY CONTENT */
section {
  background-color:rgb(234, 240, 243);
  display: flex; /* creates flexbox */
  flex-wrap: wrap;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  justify-content:space-around; /*need space-around to keep spacing*/
}

.mywork {
  height: 32vh;
  color:  white;
  font-size: 11.5pt;
  position: relative;
  align-items: center;
 }

.mywork img{
  width: 75%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  /* position: absolute; takes off page - not needed here*/
  z-index: 1;
} 

.mywork h1{
  position: absolute; /*takes off page and z-index says which on top*/
  z-index: 2;
  color: white;
  margin-top: 2%;
  margin-left: 2%;
}


.firstproj {
  height: 32vh;
  color:  white;
  font-size: 11.5pt;
  position: relative;
  align-items: center;
 }

 .firstproj h1{
  position: absolute; /*takes off page and z-index says which on top*/
  z-index: 2;
  color: white;
  margin-top: 2%;
  margin-left: 2%;
}


.firstproj img{
  width: 100%;
  /* height: 30vh; */
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  /* position: absolute; takes off page - not needed here*/
  z-index: 1;
} 

.futurework {
  height: 32vh;
  color:  white;
  font-size: 11.5pt;
  position: relative;
  align-items: center;
 }

 .futurework img{
  width: 75%;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  /* position: absolute; takes off page - not needed here*/
  z-index: 1;
} 
 .futurework h1{
  position: absolute; /*takes off page and z-index says which on top*/
  z-index: 2;
  color: white;
  margin-top: 2%;
  margin-left: 2%;
}
  
  /* FOOTER SECTION */
footer {
    background-color:  #3474e6;  
    padding: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    vertical-align: bottom;
    color: white;
    font-weight: normal;
    height: 4vh;
}